@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=IBM+Plex+Serif:wght@500&family=Poppins:wght@500&family=Raleway:wght@500&family=Tapestry&display=swap');

*{
  font-family: 'IBM Plex Serif', serif;
}
body{
  background-color: #edf0f3 ;

}

.web_name{
  font-family: 'IBM Plex Serif', serif;
  font-weight: bolder;
  text-align: center;
  margin:0;
  padding-top: 7px;
  background-color: #edf0f3 !important;
  font-size: 1.3rem;
  padding-bottom: 7px;
}
.header{
  background-color: #000033;
  color: #edf0f3;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #960707;
  margin: 0 ;
  font-family: 'IBM Plex Serif', serif;
  line-height: 0;
}
.headertext{
  font-size: 13px !important;
  padding-left: 3px;
}
.nav-link{
  color: #edf0f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0;
  cursor: pointer;
  text-decoration: none;
}
.nav-link:hover{
  color: #E04D01;
}
.nav-link:focus{
    color: #E04D01;
    text-decoration: 2px underline;
    text-underline-offset: 3px;
    text-underline-position: under;
}
.posterimg{
  width:inherit;
  height: 350px;
}
.carousel-indicators button{
  display:none;
}
.poster2 p{
    font-size: 1.4rem;
    margin-right: 1rem;
}
.poster2 {
  padding-top: 10px;
  background-color:#000033;
  color: #E04D01;
}
.poster2 h6{
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: 'BIZ UDPMincho', serif;

}
.poster2 span{
  margin-top: 0;
  font-size: 11px;
  font-family: 'BIZ UDPMincho', serif;

}
.section-heading{
  font-size: 24px;
  font-weight: bolder;
  text-decoration: #E04D01 4px underline;
  text-underline-position:under;
  font-family: 'BIZ UDPMincho', serif;

}
.bookcollection{
  border: 2px solid #000033
;
  border-radius: 5px;
  padding: 7px 0px;
  
  margin-bottom: 15px;
  background-color: #edf0f3
}

.BooksNav{
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  color: #000033
;
  text-decoration: none;


}
.BooksNav:hover,.BooksNav:focus{
  color: #E04D01   ;
  text-decoration: underline;

}
.bookcard{
  width: 12.5rem;
  height: 17rem;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  background-color: transparent !important;
  transition:transform 0.8s;
  transform-style: preserve-3d;
}
.bookcard:hover{
  transform: rotateY(180deg);
  cursor: pointer;
}
.front,.back{
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  backface-visibility: hidden;
  display: table-row;
}


.back{
  transform: rotateY(180deg);
  width: 12.5rem;
  height: 17rem;
  background-color: #000033
;
  margin-left: -4px;
}
.back h1{
  font-size: 15px;
  color:#E04D01;
  padding-top: 40px;
  padding-left: 20px;
  text-transform:capitalize;
}
.back h2{
  font-size: 11px;
  color:#edf0f3;
  padding-top: 5px;
  padding-left: 20px;

}
.card-show-more{
  text-decoration: none;
  color: white;
  font-size: 12px;
  border: 1px solid #E04D01;
  padding: 2px 14px 4px;

}
.card-show-more:hover{
  color: red;
  background-color:#edf0f3;
}
.back h3{
  font-size: 14px;
  color:#edf0f3;
  padding-top: 5px;
  padding-left: 20px;

}
.bookcard-img{
  width: 12.5rem;
  height: 17rem;
  background-color: transparent !important;
}
.close-btn{
  font-size: 2rem;
  color: #E04D01;
  margin-right: 1rem;
  text-align: end;
}

.form h3{
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: #000033
;
  margin-bottom: 1rem;
  font-family: 'Ibarra Real Nova', serif;
}
.form input{
  display: block;
  width: 100%;
  margin-left: 2rem;
  background-color: transparent;
  margin-bottom: 5px;
  height: 2.5rem;
  padding-left:5px ;
  border: 2px  solid transparent;
  border-bottom:2px solid #2F6CE5;
}

.form .login-btn{
  display: block;
  width: 100%;
  height: 2.5rem;
  margin-left: 2rem;
  background-color: #2F6CE5;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bolder;
  color: #edf0f3;
  font-size: 1.1rem;
  border: 1px solid #000033
;
  margin-bottom:10px;
}
.Link-login-btn{
  display: block;
  width: 100%;
  height: 2.5rem;
  margin-left: 2rem;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #2F6CE5;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bolder;
  color: #edf0f3;
  font-size: 1.1rem;
  border: 1px solid #000033
;
  margin-bottom:10px;
}
.Link-login-btn:hover{
  color: #000033
;
  background-color: #edf0f3;
}
.form .login-btn:hover{
  color: #000033
;
  background-color: #edf0f3;
}

.form h6 span{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: #E04D01;
  font-size: 1.1rem;
  margin-left: 5px;
  cursor: pointer;
}
.form .login-img{
  margin-left: 40px !important;
}

.box a{
  display: block;
  margin-bottom: 10px;
  color: #000033
  ;
  text-decoration: none ;
  font-size: 15px;
  font-weight: 700;
}


section.contact-us .map{
  border: 2px solid #000033
;
  height: 340px;
}
.contactInput{
  width:22rem;
  height: 2rem;
  border: 1px solid #000033
;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
}
.contact-us{
  display: flex;
}
.contactTextarea{
  width: 22rem;
  height: 7rem;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #000033
;
}

.box .contact-info .contactTitle{
  font-size: 1rem;
  font-family: "Raleway-Bold";
  display: block;
}
.contact-info{
  margin-top: -1.1rem;
  text-align: start;
  margin-left: 2rem;
}
.navy-blue-btn{
  background-color: #000033
;
  color: #FFFFFF;
  border: 2px solid #000033
;
  font-size: 13px;
  padding: 3px 20px 4px ;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none;
}
.navy-blue-btn:hover{
  background-color: #f5f3ff ;
  color: #000033
;
  font-weight: 600;

}
.about img{
  height: 350px;
  padding-right: 40px;
}
.about h4{
  font-size: 20px;
  font-weight: bold;
  color:brown;
  font-family: 'BIZ UDPMincho', serif;

}
.about p{
  font-size: 14px;
}
.card{
  transition: all 0.5s ease;
  background-color: #edf0f3;
  border-radius: 5px;
  border-bottom: 10px solid #000033
 !important;
  position: relative;
  border: 1px solid #000033
 !important;
  width: 11.5rem !important;
  height: 18rem !important;
}
.card:hover{
  transform: scale(1.1);
}

.card-title{
  font-size: 12px;
  font-weight: bolder;
  color: #000033
;
}
.price{
  color: #000033
;
  font-size: 13px !important; 
  font-weight: bolder;
  font-family: 'IBM Plex Serif', serif;
  
}
.price span{
  font-family: 'IBM Plex Serif', serif;
  text-decoration:1.7px #000033
 line-through;
  color: #E04D01;
  font-size: 13px;
  
}
.itemcategory{
  color:#f5f3ff;
  background-color:#E04D01  ;
  padding: 2px 35px 2px;
  border:1px solid #000033
;
  font-weight: bold;
  margin-top: 9.1rem;
  font-size: 11px;
  font-family: "Raleway-Bold";
  position:absolute;
}
.card-btn{
  color: #edf0f3;
  font-size: 10px ;
  padding: 2px 2px 4px;
  background-color: #000033
;
  border: 2px solid #000033
;
}
.btn-remove{
  padding: 3px 14px 3px ;
  font-size: 13px;
  background-color: #E04D01;
  border: 2px solid #000033
;
  color: #edf0f3;
}
.btn-remove:hover{
  background-color: #edf0f3;
  color: #000033
;
}
.card-btn:hover{
  color: #E04D01;
  background-color: transparent;
}
.card-img-top{
  height: 10.5rem; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.itemcarousel{
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.slick-slider {
  margin: 0 27px;
}
.slick-list {
  margin: 0 27px;
}
.slick-track {
padding: 1rem 0;
}
.section .slick-slider .slick-prev {
  width: 30px;
  top: 50%;
  left: -2rem;
  z-index: 0;
  position: absolute;
}
.slick-slider .slick-next {
  width: 30px;
  position: absolute;
  top: 50%;
  right: -1rem;
  z-index: 0;

}
.slick-prev:before {
  content: "￩";
  font-size: 30px;
  padding-bottom: 4px !important;
  padding: 0 13px;
  font-weight: bolder;
  color: #E04D01;
  border-radius: 10px;
  background-color: #000033
;
}
.slick-next:before {
content: "￫";
font-size: 30px;
padding-bottom: 4px !important;
padding: 0 13px;
font-weight: bolder;
color: #E04D01;
border-radius: 10px;
background-color: #000033
;

}
.slick-slider{
  text-align: center;
}

.StarIcons{
  font-size: 1.4rem;
}
.customerName{
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.3rem;
  color: #0510a5;
  padding-top: 1.2rem;
  padding-bottom: 6px;
  text-decoration: underline;
  text-underline-position:  under;
}
.ReviewParagraph{
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.5; 
  font-size: 14px;
  color: #000033
;
}
.customeruserIcon{
  font-size: 3rem;
  padding: 5px 24px 20px; 
  border-radius: 50%;   
  background-color: #edf0f3;
  color: #000033
;
}

footer{
  background-color: #d1d5da;
  margin-top: 2rem;
}
.footer{
  display: flex;
}
footer .box{
  flex: 1;
  margin-right: 2rem;
  text-align: center;
}

footer .box ul{
  list-style-type: none;
}
footer .box h3{
  border-bottom: 1px solid #000033
;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
footer .box p{
  line-height: 1.7;
  font-family: "Raleway-Regular";
}
footer .box ul li{
  margin-bottom: 1rem;
}
.box .contact-info .contactTitle{
  font-size: 1rem;
  font-family: "Raleway-Bold";
  display: block;
}
.contact-info{
  margin-top: -1.1rem;
  text-align: start;
  margin-left: 2rem;
}
footer.copyright{
  padding: 1rem 0;
  background-color: #0b104e;
  color: white;
  text-align: center;
  font-size: 1rem;
}
footer.copyright a{
  color: #E04D01  ;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "Raleway-Bold";
}
.socialAccount span{
  font-size: 1.5rem;
  margin:1rem;
  cursor: pointer;
}
.socialAccount span:hover{
  color:#0dd617;
  
}

.btn-back{
  background-color: #000033
;
  color: #E04D01;
  font-size: 14px;
  padding: 7px 33px 7px;
  border: 2px solid #E04D01;
  text-decoration: none;
  font-weight: bold;
}
.btn-back:hover{
  background-color: #edf0f3;
  color:#000033
;
}
.Books-Details img{
  width: 45%;

}
.Books-Details h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  color: #000033
;
}
.Books-Details h6{
  font-family: 'IBM Plex Serif', serif;
  text-transform: capitalize;
  font-size: 18px;
}
.Books-Details h6 span{
  font-size: 15px;
}
.Books-Details h5{
  font-family: 'IBM Plex Serif', serif;
  text-transform: capitalize;
  font-size: 18px;

}
.Books-Details h5 span{
  font-size: 15px;
}
tr,td{
  border-top: 1px solid #000033
;
  border-color: #000033
;
  border-width: 1px;
}
.totalPrice{
  text-align: right;
  font-size: 32px;

}
.totalPrice span{
  font-size: 26px;
}
.table-img{
  width: 40px;
}
.table-img:hover{
  -ms-transform: scale(3.5); /* IE 9 */
  -webkit-transform: scale(3.5); /* Safari 3-8 */
  transform: scale(3.9); 
}

.orderpage{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.Addresss{
  background-color:#ffffff !important;
  padding: 1rem 3rem 1rem;
}
.Payment{
  background-color: #ffffff;
  padding: 1rem 3rem 1rem;
}
.Payment .row1{
  width: 400px;
}
.Payment .qr-code-icon{
  font-size: 24px !important;
  padding: 0px 20px 0px ;
  color: #E04D01;
  
}
.Payment .debit_not_available{
  font-size: 10px !important;
  margin: 0 !important;
  color: #E04D01;
}
.Payment p{
  font-size: 13px;
  align-self: center;
  margin: 0;
  color: #000033
;
  font-weight: bold;
}
.orderpage span{
  font-size: 12px;
  padding-left: 3px;
  font-weight:600;
  color: #960707 !important;
  margin-bottom: 5px;
}
.orderpage h5{
  font-size: 11px;
  color: #e30a0a;
}
.orderpage input{
  font-size: 12px;
  padding: 5px 16px 5px;
  width:400px;
  border-radius: 2px;
  border: 1px solid #b3b4be;
  outline: none;
  display: block;
  box-shadow: rgba(77, 79, 81, 0.102) 0px 4px 7px;
  margin-bottom: 3px;
}
.orderpage h4{
  font-size: 20px;

  color: #000033
;
  font-weight: bold;
  text-align: center;
}
.orderpage input[type=text]:focus{
  border: 2px solid #04051d !important;
}
.orderpage .Procced-btn{
  font-size: 13px;
  color: white;
  border: 2px solid #04051d !important;
  background-color: #000033
;
  padding: 4px 10px 5px;
  border-radius: 3px;
  

  
}
.orderpage .Procced-btn:hover{
  background-color: rgb(17, 121, 162);
  border: 2px solid #04051d !important;
  color: rgb(7, 26, 7);
  font-weight: 600;
}
.BooksCategory{
  display: block !important;
  text-decoration: none;
  color:#000033;
  padding: 3px 8px 3px;
  background-color: #FFFFFF;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.BooksCategory:focus{
  background-color: #0c1139;
  color: #edf0f3;
}
.BooksCategory:hover{
  color: #e30a0a;
}
.BooksCategory_name{
  font-family: 'BIZ UDPMincho', serif;
  font-weight: bold;
  color: #edf0f3;
  background-color:#e30a0a;
}
.BooksCategory_name:hover,.BooksCategory_name:focus{
  background-color: #0510a5;
  color: #e30a0a;
}
.cash_on_delivery h3{
  font-size: 12px;
  padding-top: 5px;
}
.cash_on_delivery h4{
  font-size: 23px;
  color: #E04D01;
}
.Payment .total{
  font-size: 16px;
  text-align: end;
  font-weight: bold;
}
.Payment h3{
  font-size: 13px;
  padding-left: 16px;
}

.Payment .delivery span{
  color:#0dd617 !important;
  font-weight: bold;
  padding-left: 0 !important;
}
.accordion-header{
  width:400px !important;
  border: 2px solid #000033
;
  margin-bottom: 10px;
  
}
.accordion-body:hover{
  border-top: 1px solid #ffffff !important;
  
}
.accordion-body{
  border:none;
  margin-bottom: 20px;
  padding-top: -20px !important;
}


.accordion-item{
  border:none;
}
.accordion-header:hover,  .accordion-header:focus{
  border: 2px solid #000033
;
  background-color: transparent !important;
  color: white !important;
  background-color: #000033
;

}

.accordion-button:not(.collapsed){
  color: #000033
 ;
  background-color: #ffffff;

}
.accordion-button:focus{
  border-color: #000033
 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;
}
.accordion-button{
  padding: 10px 20px 10px !important;
}
.cash_on_delivery .bookid{
  font-size: 15px !important;
}
.productidinput input{
  width: 180px;
  border: 2px solid #71727a;
}
.productidinput h4{
  font-size: 14px;
  margin-right: 10px;
}
.Category .box1, .Category .box2{
  border: 1px solid #e30a0a;
}
.qr-code-img{
  width: 230px;
  height: 230px;
}
.qr-code h3{
  font-size: 26px;
  margin-bottom: 26px;
}
.QR-btn{
  width: 100%;
  color: #960707;
  font-size: 12px;
  padding: 4px 14px 6px;
  letter-spacing: 1px;
  font-weight: bolder;
  font-family: 'BIZ UDPMincho', serif;
  background-color: #edf0f3;
  border: 2px solid #04051d;
}
.QR-btn:hover{
  color: #edf0f3;
  background-color: #000033;
}
.icon-qr{
  font-size: 17px !important;
}
